In [1]:
import importlib
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta

In [2]:
import cafle as cf
from cafle.genfunc import rounding as R

In [3]:
# import cf.management as mng
from cafle import management_actualcase1 as mng1

In [4]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"), 
      pd.get_option("display.max_rows"))

40 200

# Introduction
* This is an example created by applying an actual case.

# Initial Setting

In [5]:
PY = 1/3.305785

In [6]:
class Assumption:
    def __init__(self):
        pass
    
    def __getattr__(self, attr):
        return self.__dict__[attr]
    
    def __getitem__(self, key):
        return self.__dict__[key]
astn = Assumption()

In [7]:
class Assumption_sales:
    def __init__(self):
        self.prdtname = []
        self.mtrx = DataFrame()
        self.csh = {}
        self.ctrt = {}
        self.ctrt_ary = {}
        
    def iptctrt(self, prdt_name, tmpary):
        tmp_idx = [x[0] for x in tmpary]
        tmp_locno = [idx.sales.locno(x[0]) for x in tmpary]
        tmp_rate = [x[1] for x in tmpary]
        self.ctrt_ary[prdt_name] = tmpary
        self.ctrt[prdt_name] = DataFrame({'locno':tmp_locno,
                                          'rate':tmp_rate},
                                          index=tmp_idx)
        self.ctrt[prdt_name]['amt'] = self.ctrt[prdt_name]['rate'] \
                                      * self.mtrx.amt[prdt_name]
        self.ctrt[prdt_name]['odr'] = list(range(len(tmpary)))
        self.ctrt[prdt_name] = self.ctrt[prdt_name][['odr', 'locno', 'rate', 'amt']]
        
    def print_ctrt(self):
        print("Sales Contract Assumption")
        for key, val in self.ctrt.items():
            print("\n\n"+key)
            display(R(val))

    def __getattr__(self, attr):
        return self.__dict__[attr]
    
    def __getitem__(self, key):
        return self.__dict__[key]
            
astns = Assumption_sales()

# Input Index Data

In [8]:
# Set period index
# prjt index : total project periods, and project base index
# cstrn index : construction index
# loan index : loan period index
# sales index : sales period index

tmp_col = ['idxname', 'start', 'periods']
tmp_ary = [['prjt',  '2021-04',   60],
           ['cstrn', '2022-03',   42],
           ['loan',  '2021-05',   55],
           ['sales', '2022-05',   40]]
astn.index = DataFrame(tmp_ary, columns=tmp_col)

idx = cf.PrjtIndex(idxname = list(astn.index.idxname),
                   start = list(astn.index.start),
                   periods = list(astn.index.periods + 1),
                   freq = 'M')

# Input Financing Conditon Data

In [9]:
tmp_col = ['title', 'amt_ntnl']
tmp_ary = [['equity', 10_000]]
astn.equity = DataFrame(tmp_ary, columns=tmp_col)

equity = cf.Loan(idx, amt_ntnl = astn.equity.amt_ntnl[0])

In [10]:
tmp_col = ['title', 'amt_ntnl', 'amt_ntnl_once', 'rate_fee', 'rate_IR']
tmp_ary = [['tra',    100_000,       10_000,        0.02,      0.043],
           ['trb',     30_000,       30_000,        0.06,      0.060],
           ['trc',      5_000,        5_000,        0.10,      0.100]]
astn.loan = DataFrame(tmp_ary, columns=tmp_col)

loan = cf.Intlz_loan(idx, idx.loan,
                     title = astn.loan.title,
                     amt_ntnl = astn.loan.amt_ntnl,
                     amt_ntnl_once = astn.loan.amt_ntnl_once,
                     rate_fee = astn.loan.rate_fee,
                     rate_IR = astn.loan.rate_IR)

# Input Sales Data
### 1) Sales Amount Matrix

In [11]:
# Sales Amount Matrix
tmp_col = ['prdtname', 'area_m2',  'prc_py',  'byname']
tmp_ary = [['lgstc',    244_377,     1.40,   '물류시설용지'],
           ['cmcl',      34_926,     2.90,   '상류시설용지'],
           ['hsg_sgl',    9_137,     2.80,   '단독주택'],
           ['hsg_apt',   33_134,     2.70,   '공동주택'],
           ['retail',    17_195,     3.90,   '상업시설용지'],
           ['office',     6_151,     3.90,   '업무시설용지'],
           ['parking',    8_352,     1.90,   '주차장용지'],
           ['gasstn',     2_400,     2.60,   '주유소용지'],
           ['rcclg',     10_000,     2.80,   '자원순환시설'],
           ['power',     10_000,     2.80,   '발전시설용지'],
           ['gsprfr',        25,     1.44,   '가스정압기'],
           ]

tmp_df = DataFrame(tmp_ary, columns=tmp_col)
tmp_df.set_index('prdtname', inplace=True)
tmp_df.loc[:,'area_py'] = tmp_df.area_m2 * PY
tmp_df.loc[:,'prc_m2'] = tmp_df.prc_py / PY
tmp_df.loc[:,'amt'] = tmp_df.area_py * tmp_df.prc_py
tmp_df = tmp_df[['byname', 'area_m2', 'area_py', \
                'prc_m2', 'prc_py', 'amt']]

astns.prdtname = [x[0] for x in tmp_ary]
astns.mtrx = tmp_df
R(astns.mtrx)

          byname  area_m2 area_py prc_m2 prc_py      amt
prdtname
lgstc     물류시설용지  244,377  73,924    4.6    1.4  103,494
cmcl      상류시설용지   34,926  10,565    9.6    2.9   30,639
hsg_sgl     단독주택    9,137   2,764    9.3    2.8    7,739
hsg_apt     공동주택   33,134  10,023    8.9    2.7   27,062
retail    상업시설용지   17,195   5,201   12.9    3.9   20,286
office    업무시설용지    6,151   1,861   12.9    3.9    7,257
parking    주차장용지    8,352   2,526    6.3    1.9    4,800
gasstn     주유소용지    2,400     726    8.6    2.6    1,888
rcclg     자원순환시설   10,000   3,025    9.3    2.8    8,470
power     발전시설용지   10,000   3,025    9.3    2.8    8,470
gsprfr     가스정압기       25       8    4.8    1.4       11

### 2) Sales Contract Schedule

In [12]:
# Sales Contract Schedule
prdt_name = 'lgstc' # 물류시설용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.315],
           [idx.sales.locval(2023, 5), 0.274],
           [idx.sales.locval(2023, 11), 0.137],
           [idx.sales.locval(2024, 5), 0.137],
           [idx.sales.locval(2024, 11), 0.137]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'cmcl' # 상류시설용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.150],
           [idx.sales.locval(2023, 5), 0.200],
           [idx.sales.locval(2023, 11), 0.300],
           [idx.sales.locval(2024, 5), 0.300],
           [idx.sales.locval(2024, 11), 0.050]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'hsg_sgl' # 단독주택용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.300],
           [idx.sales.locval(2023, 5), 0.300],
           [idx.sales.locval(2023, 11), 0.200],
           [idx.sales.locval(2024, 5), 0.200],
           [idx.sales.locval(2024, 11), 0.000]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'hsg_apt' # 공동주택용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 0.000],
           [idx.sales.locval(2023, 11), 1.000],
           [idx.sales.locval(2024, 5), 0.000],
           [idx.sales.locval(2024, 11), 0.000]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'retail' # 상업시설용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 0.250],
           [idx.sales.locval(2023, 11), 0.300],
           [idx.sales.locval(2024, 5), 0.300],
           [idx.sales.locval(2024, 11), 0.150]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'office' # 업무시설용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 0.500],
           [idx.sales.locval(2023, 11), 0.500],
           [idx.sales.locval(2024, 5), 0.000],
           [idx.sales.locval(2024, 11), 0.000]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'parking' # 주차장용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 0.000],
           [idx.sales.locval(2023, 11), 0.500],
           [idx.sales.locval(2024, 5), 0.500],
           [idx.sales.locval(2024, 11), 0.000]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'gasstn' # 주유소용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 0.000],
           [idx.sales.locval(2023, 11), 1.000],
           [idx.sales.locval(2024, 5), 0.000],
           [idx.sales.locval(2024, 11), 0.000]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'rcclg' # 자원순환시설용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 1.000],
           [idx.sales.locval(2023, 11), 0.000],
           [idx.sales.locval(2024, 5), 0.000],
           [idx.sales.locval(2024, 11), 0.000]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'power' # 발전시설용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 1.000],
           [idx.sales.locval(2023, 11), 0.000],
           [idx.sales.locval(2024, 5), 0.000],
           [idx.sales.locval(2024, 11), 0.000]]
astns.iptctrt(prdt_name, tmp_ary)

prdt_name = 'gsprfr' # 가스정압기용지
tmp_ary = [[idx.sales.locval(2022, 11), 0.000],
           [idx.sales.locval(2023, 5), 0.000],
           [idx.sales.locval(2023, 11), 0.000],
           [idx.sales.locval(2024, 5), 0.000],
           [idx.sales.locval(2024, 11), 1.000]]
astns.iptctrt(prdt_name, tmp_ary)

### 3) Sales Payment Schedule

In [13]:
# Payment Schedule(deposit, middle payment, balance)
astns.csh[0] = [[idx.sales.locval(2022, 11), 0.1],
                [idx.sales.locval(2023,  5), 0.2],
                [idx.sales.locval(2023, 11), 0.2],
                [idx.sales.locval(2024,  5), 0.2],
                [idx.sales.locval(2024, 11), 0.2],
                [idx.sales.locval(2025,  9), 0.1]]
astns.csh[1] = [[idx.sales.locval(2023,  5), 0.1],
                [idx.sales.locval(2023, 10), 0.2],
                [idx.sales.locval(2024,  3), 0.2],
                [idx.sales.locval(2024,  8), 0.2],
                [idx.sales.locval(2025,  1), 0.2],
                [idx.sales.locval(2025,  9), 0.1]]
astns.csh[2] = [[idx.sales.locval(2023, 11), 0.1],
                [idx.sales.locval(2024,  3), 0.2],
                [idx.sales.locval(2024,  7), 0.2],
                [idx.sales.locval(2024, 11), 0.2],
                [idx.sales.locval(2025,  3), 0.2],
                [idx.sales.locval(2025,  9), 0.1]]
astns.csh[3] = [[idx.sales.locval(2024,  5), 0.1],
                [idx.sales.locval(2024,  8), 0.2],
                [idx.sales.locval(2024, 11), 0.2],
                [idx.sales.locval(2025,  2), 0.2],
                [idx.sales.locval(2025,  5), 0.2],
                [idx.sales.locval(2025,  9), 0.1]]
astns.csh[4] = [[idx.sales.locval(2024, 11), 0.1],
                [idx.sales.locval(2025,  1), 0.2],
                [idx.sales.locval(2025,  3), 0.2],
                [idx.sales.locval(2025,  5), 0.2],
                [idx.sales.locval(2025,  7), 0.2],
                [idx.sales.locval(2025,  9), 0.1]]

### 4) Initialize Sales Setting

In [14]:
sales = mng1.Intlz_sales_sellinlots(idx, idx.sales,
                                    slsmtrx=astns.mtrx,
                                    slsctrt=astns.ctrt,
                                    slscsh=astns.csh)

# Input Cost Data
### 1)

# Execution Cash Flow

In [15]:
acc = mng1.Intlz_accounts(idx, ['oprtg', 'sales', 'repay'])

In [16]:
# Execute cash flow
for idxno in idx.index:
    #### Loans : Set loan withdrawble ####
    # If it's initial date then set loan withdrawble.
    equity.set_wtdrbl_intldate(idxno)
    loan.tra.set_wtdrbl_intldate(idxno)
    loan.trb.set_wtdrbl_intldate(idxno)
    loan.trc.set_wtdrbl_intldate(idxno)
    
    #### Sales : Get money from sales products ####
    # 분양수입대금 sales schedule에 따라 운영계좌로 이체
    for prdt in sales.prdtlst:
        sls_prdt = getattr(sales, prdt)
        mng_prdt = mng1.Mngmnt_sls(idxno, sls_prdt)
        mng_prdt.make_ctrt_plan()
        sls_amt = sls_prdt.sub_rsdl_cum[idxno]
        sls_prdt.send(idxno, sls_amt, acc.sales)
    
    #### Sales : Allocate sales amount ####
    # 분양수입금 분배
    intl_bal_end = acc.sales.bal_end[idxno]
    if not loan.ttl.is_repaid:
        amt_to_oprtg = intl_bal_end * 0.2
        amt_to_repay = intl_bal_end * 0.8
        acc.sales.send(idxno, amt_to_oprtg, acc.oprtg)
        acc.sales.send(idxno, amt_to_repay, acc.repay)
    elif loan.ttl.is_repaid:
        acc.sales.send(idxno, intl_bal_end, acc.oprtg)
        amt_trsfr = cf.limited(acc.repay.bal_end[idxno], lower=[0])
        acc.repay.send(idxno, amt_trsfr, acc.oprtg)
        
    #### Loans : Calculate expected financial cost ####
    mng_fncl = {}
    cst_fncl = 0
    for trch, loan_each in loan.dct.items():
        mng_fncl[trch] = mng1.Mngmnt_fncl(idxno, loan_each)
        cst_fncl += mng_fncl[trch].amt_scdd
    
    #### Loans : Withdraw loan ####    
    wtdrw = mng1.Mngmnt_wtdrw(idxno, acc.oprtg)
    
    cst_all = cst_fncl # 총 지출 필요금액 계산
    wtdrw.cal_amt_exptd(cst_all) # 대출금 인출 필요금액 계산
    wtdrw.wtdrw_eqty(equity)
    if idxno == idx.loan[0]:
        wtdrw.wtdrw_loan(loan.trc, loan.trc.amt_ntnl_once)
        wtdrw.wtdrw_loan(loan.trb, loan.trb.amt_ntnl_once)
        wtdrw.wtdrw_loan(loan.tra, loan.tra.amt_ntnl_once)
    wtdrw.wtdrw_loan(loan.trc)
    wtdrw.wtdrw_loan(loan.trb)
    wtdrw.wtdrw_loan(loan.tra)
    
    #### Costs : 토지비, 공사비 등 각종 비용 지출 ####
    
    
    #### Loans : Pay financial cost ####
    mng_fncl['tra'].pay_all(acc.oprtg)
    mng_fncl['trb'].pay_all(acc.oprtg)
    mng_fncl['trc'].pay_all(acc.oprtg)
    
    #### Loans : Repay loan amounts ####
    rpymngA = mng1.Mngmnt_repay(idxno, loan.tra, acc.oprtg, acc.repay)
    rpymngA.repayment_process()
    
    if loan.tra.is_repaid:
        rpymngB = mng1.Mngmnt_repay(idxno, loan.trb, acc.oprtg, acc.repay)
        rpymngB.repayment_process()
    if loan.trb.is_repaid:
        rpymngC = mng1.Mngmnt_repay(idxno, loan.trc, acc.oprtg, acc.repay)
        rpymngC.repayment_process()
        
    #### Loans : Set back loan unwithdrawble at maturity ####
    # If it was maturity date then set back loan unwithdrawble.
    equity.setback_wtdrbl_mtrt(idxno)
    loan.tra.setback_wtdrbl_mtrt(idxno)
    loan.trb.setback_wtdrbl_mtrt(idxno)
    loan.trc.setback_wtdrbl_mtrt(idxno)

In [19]:
loan.trc.ntnl.df

            add_scdd  sub_scdd     bal_strt      amt_add  amt_sub      bal_end
2021-04-30       0.0       0.0     0.000000     0.000000      0.0     0.000000
2021-05-31       0.0    5000.0     0.000000     0.000000   5000.0 -5000.000000
2021-06-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2021-07-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2021-08-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2021-09-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2021-10-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2021-11-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2021-12-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-01-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-02-28       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-03-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-04-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-05-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-06-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-07-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-08-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-09-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-10-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-11-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2022-12-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-01-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-02-28       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-03-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-04-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-05-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-06-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-07-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-08-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-09-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-10-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-11-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2023-12-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-01-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-02-29       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-03-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-04-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-05-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-06-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-07-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-08-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-09-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-10-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-11-30       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2024-12-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2025-01-31       0.0       0.0 -5000.000000     0.000000      0.0 -5000.000000
2025-02-28       0.0       0.0 -5000.000000  3574.131022      0.0 -1425.868978
2025-03-31       0.0       0.0 -1425.868978  1425.868978      0.0     0.000000
2025-04-30       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-05-31       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-06-30       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-07-31       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-08-31       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-09-30       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-10-31       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-11-30       0.0       0.0     0.000000     0.000000      0.0     0.000000
2025-12-31    5000.0       0.0     0.000000     0.000000      0.0     0.000000
2026-01-31       0.0       0.0     0.000000     0.000000      0.0     0.000000
2026-02-28       0.0       0.0     0.000000     0.000000      0.0     0.000000
2026-03-31       0.0       0.0     0.000000     0.000000      0.0     0.000000
2026-04-30       0.0       0.0     0.000000     0.000000      0.0     0.000000