In [2]:
import pandas as pd
from pandas import DataFrame

In [65]:
a = DataFrame({'a':[123812,22341.2,334123], 'b':['1','a','c'], 'c':[0.12, 1.34, 4.3]})

In [66]:
a

          a  b     c
0  123812.0  1  0.12
1   22341.2  a  1.34
2  334123.0  c  4.30

In [71]:
def rounding(df):
    rslt_df = df.copy()
    for key, val in rslt_df.items():
        if all([isinstance(x, (int, float)) for x in rslt_df[key]]):
            if all([x < 10 for x in rslt_df[key]]):
                rslt_df[key] = rslt_df[key].fillna(0).apply(lambda x: f"{x:,.1f}")
            else:
                rslt_df[key] = rslt_df[key].fillna(0).apply(lambda x: f"{x:,.0f}")
    return rslt_df

In [72]:
rounding(a)

         a  b    c
0  123,812  1  0.1
1   22,341  a  1.3
2  334,123  c  4.3

In [69]:
a

          a  b     c
0  123812.0  1  0.12
1   22341.2  a  1.34
2  334123.0  c  4.30

In [70]:
all([x < 10 for x in a.c])

True

In [19]:
all([isinstance(x, str) for x in a.c])

False

In [55]:
[x for x in a.a]

['123,812', '22,341', '334,123']

In [58]:
deepcopy

NameError: name 'deepcopy' is not defined