In [1]:
import pandas as pd

In [9]:
a = pd.DataFrame({'a':[1000,2000,3000], 'b':[5243,3564,7285]}, index=[1,2,3])
b = pd.DataFrame({'c':[7989,3485,5174], 'd':[99987,59076,34960]}, index=[0,1,2])

In [7]:
a = 1000
print(f"{a:>10,.0f}")

     1,000

In [10]:
display(a)

      a     b
1  1000  5243
2  2000  3564
3  3000  7285

In [11]:
def desit(num):
    return f"{num:>10,.0f}"

In [15]:
a.applymap(desit)

            a           b
1       1,000       5,243
2       2,000       3,564
3       3,000       7,285