In [1]:
import pandas as pd

In [9]:
a = pd.DataFrame({'a':[1000,2000,3000], 'b':[5243,3564,7285]}, index=[1,2,3])
b = pd.DataFrame({'c':[7989,3485,5174], 'd':[99987,59076,34960]}, index=[0,1,2])

In [7]:
a = 1000
print(f"{a:>10,.0f}")

     1,000

In [10]:
display(a)

      a     b
1  1000  5243
2  2000  3564
3  3000  7285

In [11]:
def desit(num):
    return f"{num:>10,.0f}"

In [1]:
a.applymap(desit)

NameError: name 'a' is not defined

In [ ]:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-43-dba3ca094fe8> in <module>
     21     wtdrw = wtdrw_mngmnt(idxno, cst, oprtg)
     22     wtdrw.wtdrw_equity(equity)
---> 23     wtdrw.wtdrw_loan(tra)
     24 
     25     # 운영계좌에서 토지비, 공사비 등 각종 비용 지출

<ipython-input-40-0f3628f1be98> in wtdrw_loan(self, loan)
     32         if loan.is_wtdrbl:
     33             ntnl_sub_rsdl = loan.ntnl.sub_rsdl_cum[self.idxno] # 누적인출가능잔액
---> 34             tmp_wtdrw = min(ntnl_sub_rsdl, self.rsdl_wtdrw)
     35             # 누적인출가능잔액과 인출필요금액을 비교하여 적은 금액을 대입
     36 

TypeError: '>' not supported between instances of 'float' and 'method'